<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>ManageSDE</Name><AddInID>{7af37574-4d7c-4384-a057-7bfb16a2cd80}</AddInID><Description>addin que permite realizar el mantenimiento de la base una Enterprise Geodatabase</Description><Version>0.1</Version><Image>Images\cogwheel.png</Image><Author>Daniel Aguado H.</Author><Company>STSIG</Company><Date>06/07/2020</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="addin_addin.py" namespace="addin_addin"><ArcMap>
    <Commands>
        <Button caption="executeprocess" category="ManageSDE" class="ExecuteProcess" id="addin_addin.execute_process" image="Images\ModelBuilderRunModel16.png" message="Inicia el proceso de mantenimiento de la Enterprise Geodatabase" tip="Ejecutar proceso"><Help heading="" /></Button>
        <Button caption="configtool" category="ManageSDE" class="ConfigTool" id="addin_addin.config_tool" image="Images\GeoprocessingEnvironmentSettings16.png" message="Permite configurar el proceso con parametros definidos" tip="Configurar"><Help heading="" /></Button>
        <Button caption="userguide" category="ManageSDE" class="UserGuide" id="addin_addin.user_guide" image="Images\pdf.png" message="Consultar la guia de usuario" tip="Manual de usuario"><Help heading="" /></Button>
        <Button caption="getregistry" category="ManageSDE" class="GetRegistry" id="addin_addin.get_registry" image="Images\log-file.png" message="Revise el registro de operaciones" tip="Registro"><Help heading="" /></Button>
        <Button caption="getconfig" category="ManageSDE" class="GetConfig" id="addin_addin.get_config" image="Images\MetadataDocument16.png" message="Permite obtener los parametros configurados en la herramienta" tip="Obtener parámetros"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="SDEManager" category="ManageSDE" id="addin_addin.toolbar" showInitially="true">
            <Items>
                <Button refID="addin_addin.execute_process" />
<!--                <Button refID="addin_addin.config_tool" />-->
                <Button refID="addin_addin.get_config" />
                <Button refID="addin_addin.get_registry" />
<!--                <Button refID="addin_addin.user_guide" />-->
            </Items>
        </Toolbar>
    </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>